# =========================
# DATA (Track only .mp4)
# =========================

# Ignore everything in data
data/*

# Ignore all data files
data/*
!data/.gitkeep
!data/samples/
!data/samples/.gitkeep
# Allow ONLY mp4 files
!data/**/*.mp4

# Ignore other video formats
data/**/*.avi
data/**/*.mov
data/**/*.mkv


# =========================
# OUTPUTS (Ignore everything)
# =========================

# Ignore outputs contents but keep structure
outputs/*
!outputs/.gitkeep
!outputs/predictions/
outputs/predictions/*
!outputs/predictions/.gitkeep

# Ignore all generated artifacts
outputs/**/*.mp4
outputs/**/*.avi
outputs/**/*.mov
outputs/**/*.mkv
outputs/**/*.json


# =========================
# MODELS
# =========================

#models/*.pt


# =========================
# PYTHON CACHE
# =========================

__pycache__/
*.py[cod]
*$py.class
src/**/__pycache__/


# =========================
# VIRTUAL ENVIRONMENTS
# =========================

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/


# =========================
# NOTEBOOKS
# =========================

.ipynb_checkpoints/


# =========================
# BUILD / PACKAGING
# =========================

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# =========================
# C EXTENSIONS
# =========================

*.so


# =========================
# PYINSTALLER
# =========================

*.manifest
*.spec


# =========================
# INSTALLER LOGS
# =========================

pip-log.txt
pip-delete-this-directory.txt


# =========================
# TEST / COVERAGE
# =========================

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/


# =========================
# VS CODE
# =========================

.vscode/


# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini